body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 20px;
    /* background-color: ; */
     background-color: rgb(171, 227, 222);

}

.container {
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 10%;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

h2 {
    margin-top: 40px;
    font-size: 25px;
}

.input-group {
    margin: 15px 0;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 15px;
    border-radius: 40px;
    border: none;
    background: #ddd;
    font-size: 16px;
}

.btn {
    background: blue;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

th {
    background: #f4f4f4;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

.result-summary {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}


.error-box {
  background-color: #ffe0e0;
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 20px;
  color: #900;
  border-radius: 5px;
}



